################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-Intermediate/FileContentIndex/67729088-5a82-4568-89ab-202426eafb40.vsidx
/SolidPrinciples/.vs/SolidPrinciples/FileContentIndex/15271be8-d9fd-4b95-889b-28e05065bf94.vsidx
/SolidPrinciples/.vs/SolidPrinciples/FileContentIndex/2b75cc6b-75fe-4b8c-aaa1-1cdc0b2a4555.vsidx
/SolidPrinciples/.vs/SolidPrinciples/FileContentIndex/490e1ebe-11b2-466a-aa6b-ac8a69ecba4a.vsidx
/SolidPrinciples/.vs/SolidPrinciples/FileContentIndex/60a0b526-9dec-4610-92e2-f7cbd9ab5a0d.vsidx
/SolidPrinciples/.vs/SolidPrinciples/FileContentIndex/b8f6cbaf-6fde-4a97-98ac-7ad21730b53a.vsidx
