################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-Intermediate/FileContentIndex/67729088-5a82-4568-89ab-202426eafb40.vsidx
/SolidPrinciples/.vs/SolidPrinciples/FileContentIndex/15271be8-d9fd-4b95-889b-28e05065bf94.vsidx
