################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-Intermediate/FileContentIndex/67729088-5a82-4568-89ab-202426eafb40.vsidx
